.footer{
    background: $darkblue;
    color: $White;
    padding: 2.5rem;
    text-align: center;
    .container
    {
        @include up(large)
        {
            display: grid;
            grid-template-columns: 2fr 1fr 1fr 2fr ;
            grid-template-rows: 1fr auto;
            grid-template-areas: "logo links1 links2 cta"
                                "social links1 links2 copyright";
            justify-items: start;
            gap: 1rem;
        }
    }
    a{
        color: $White;
    }
  &__logo{
    @include breakpoint-down(meduim)
    {
        margin-bottom: 1.875rem;
    }
      display: inline-block;
      @include up(large)
      {
          grid-area: logo;
      }
  }
  &__social{
    @include breakpoint-down(meduim)
    {
        margin-bottom: 1.875rem;
    }
    a:not(:last-child){
        margin-right: 1rem;
        
    }
    a{
        display: inline-block;
        height: 1.25rem;
        transition: all 130ms ease-in-out;
        svg :hover
        {
            fill: $LimeGreen;
        }
    }
    @include up(large)
      {
          grid-area: social;
          align-self: end;
      }
  } 
    &__links{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: .9375rem;
        @include up(large)
        {
            align-items: start;
            justify-content: space-between;
        }
        a{
            line-height: 2.25; 
            transition: all 130ms ease-in-out;
            &:hover
            {
                color: $LimeGreen;
            }
        }
        &.col1{
            @include up(large)
            {
                grid-area: links1;
            }
        }
        &.col2{
            @include breakpoint-down(meduim)
                {
                    margin-bottom: 1.875rem;
                }
            @include up(large)
            {
                grid-area: links2;
            }
        }
    }
    &__cta
    {
        @include up(large)
            {
                grid-area: cta;
                justify-self: end;
                text-align: right;
            }
        a.button{
            @include breakpoint-down(meduim)
            {
                margin-bottom: 1.875rem;
            }
            
        }
    }
    &__copyright{
        font-size: .8125rem;
        color: $GrayishBlue;
        @include up(large)
            {
                grid-area: copyright;
                justify-self: end;
                align-self: end;
            }
    }
}