.header{
    //humberger toggle button on mobile
    &.open{
        .header__toggle
        {
            >span:first-child{
                transform: rotate(45deg);
            }
            >span:nth-child(2){
               opacity: 0; 
            }
            >span:last-child{
                transform: rotate(-45deg);
            }
        }
        
    }
    .overlay{
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        background: linear-gradient($darkblue, transparent);
        right: 0;
        height: 100vh;  
    }
    
    nav{
        background: $White;
        position: relative;
        padding-top: .5rem;
        padding-bottom: .7rem;
    }
    &__logo{
        width: 8.8125rem;
        height: 1.375rem;
    }
    &__toggle{ //mobile toggle
        > span{
            display: block;
            width:26px;
            height: 2px;
            background-color:$darkblue ;
            transform-origin: 3px 1px ;
            transition: all 200ms ease-in-out;
            &:not(:last-child)
            {
                margin-bottom: 5px;
            }
        }
       
    }

    &__links{
        a{
           position: relative;
           font-size: $font-sm;
           color:$GrayishBlue ;
           display: initial;
           transition: color 300ms ease-in-out;
           &:not(:last-child)
            {
            margin-right: 32px;
            } 
            &::before{
                content: '';
                height: 3px;
                bottom: -30px;
                background: linear-gradient(to right,$LimeGreen,$BrightCyan);
                position: absolute;
                display: block;
                left: 0;
                right: 0;
                opacity:0;
                transition: opacity 300ms ease-in-out;
            }   
            &:hover{
                color: $darkblue; 
                &::before{
                    opacity: 1;
                }
                
            }
            
        }
        
    }
    &__cta
    {
        transition: opacity 200ms ease-in-out;
    }

    &__menue{
        background:$White;
        padding: 1.625rem;
        position: absolute;
        width: calc(100% - 3rem);
        left: 50%;
        border-radius: 5px;
        transform: translateX(-50%);
        margin-top: 1.5rem;
        a{
           color:$darkblue;
           display: block;
            padding: 0.625rem;
            text-align: center;
        }
    }

}